.baners {
    background: url("../img/bg_main.jpg") center  no-repeat;
    background-size: cover;
    padding: 90px  0 155px 0;
    margin: 0 0 100px 0;
    &.fix {
        margin-top:137px ;
    }
    // .baners__slide
  
    &__slide {
      position: relative;
  
      .swiper-button-next,.swiper-button-prev {
        z-index: 20;
        width: 20px;
        height: 40px;
        &::after {
            color: #ffffff;
            background-size: cover;
            font-size: 39px;
        }
      }
    
      .swiper-button-prev {
        left: 0px;
      }
      .swiper-button-next {
          
        right: 0px;
      
        }
     
    }
    &__container{
      overflow: hidden;
      max-width: 910px;
      margin: 0 auto;
      position: relative;
      background-color: rgba(245, 169, 28, 0.54);
        border-radius: 10px;
    }  
  
    // .baners__items
  
    &__items {
        
    }
  
    // .baners__item
  
    &__item {
      display: flex;
      justify-content: center;
      padding: 0 10px;
      text-align: center;
      min-height: 345px;
     
      
    }
  
    // .baners__text
  
    &__text {
        display: inline-block;
        padding-top: 60px;
        padding-bottom: 122px;
         font-size: 50px;
        font-weight: 500;
         color: #ffffff;
         line-height: 60px;
    }
    &__link{
        position: absolute;
        z-index: 20;
        left: 50%;
        bottom: 70px;
        transform: translate(-50%, 0);


    }
}

//news

.section {

    // .section__title

    &__title {
        text-align: center;
        font-size: 35px; 
        font-weight: 500;
        margin: 0 0 30px 0;
    }
}
.section-news {
    background-color: #fafafa;
    padding: 70px 0 80px 0;
    // .section-news__row

    &__row {
        
    }
}

//news
.news {
    position: relative;
    // .news__slide
    .swiper-button-next,.swiper-button-prev{
          transform: translate(0, -50%);
          &:after {
              font-size: 46px;
          }
    }
   
    &__slide {

        max-width: 1220px;
        overflow: hidden;
        padding: 10px;
        margin: 0 auto 30px auto;
       
        
    }

    // .news__items

    &__items {
        display: flex;
    }

    // .news__item

    &__item {
        background-color: #ffffff;
        box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.3);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        height: auto;
        transition: all .2s;
        &:hover {
            transform: scale(1.01);
        }
    }

    // .news__img

    &__img {
        height: 250px;
        img{
            width: 100%;
            height: 100%;
            //object-fit: cover;
        }
    }

    // .news__content

    &__content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    // .news__title

    &__title {
        font-size: 16px;
        line-height: 17px;
        font-weight: 700;
        color: #383838;
        margin: 0 0 13px 0;
    }

    // .news__text

    &__text {
        display: block;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: #2c2c2c;
        margin: 0 0 15px 0;
        flex: 1 1 auto;
    }

  

    // .news__more

    &__more {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 7px;
        height: 23px;
        background-color: #80bc41;
        border-radius: 10px;
        color: #ffffff;
        transition: all 0.3s;
        font-size: 11px;
        margin-top: auto;
        &:hover {
            background-color: #81bc414f;
            color: #000;
        }
    }

    // .news__data

    &__data {
        display: block;
        text-align: right;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: #80bc41;
    }
      // .news__link

      &__all {
          text-align: center;
    }
}



//abaut

.section {

    // .section__title

    &__title {
        
    }
}
.section-abaut {
    padding: 100px 0;
    &__row{
        display: flex;
        align-items: center;
        margin:  0  0 100px 0;
    }
    // .section-abaut__column

    &__column {
        flex: 0 1 50%;
        &:first-child {
            margin-right: 60px;
        }
    }
}
.abaut-text {

    // .abaut-text__title

    &__title {
        position: relative;
        text-align: left;
        margin: 0 0 60px 0;
        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: -20px;
            width: 142px;
            height: 2px;
            background-color: #000000;

        }
    }

    // .abaut-text__abaut

    &__abaut {
        font-weight: 400;
        color: #888888;
        line-height: 28px;
    }

    // .abaut-text__link

    &__link {
        font-size: 19px;
        font-weight: 500;
        text-decoration: underline;
        color: #2e73b7;
        &:hover{
            color: #294d70;
        }
    }
    &__btn{
        margin-top: 30px;
    }
}

.abaut-images {
    position: relative;
    min-height: 540px;
    // .abaut-images__img

    &__img {
       position: absolute;
       max-width: 100%;

        &_1 {
            left: 0;
            bottom: 0;
            z-index: 1;
        }
        &_2 {
            top: 0;
            right: 0;
            z-index: 2;
            
        }
    }
}

//abaut slider

.abaut-slider {
    position: relative;
    // .abaut-slider__container
    .swiper-wrapper {
    }
    .swipper-slide {
    }
    .swiper-button-prev {
        left: 9%;
    }
    .swiper-button-prev,.swiper-button-next  {
        &::before {
            content: '';
            display: inline-block;
            width: 13px;
            height: 25px;
            background: url("../img/arrow_abaut.png") center no-repeat;

        }
        &::after {
            display: none; 
        }
           

    }
    .swiper-button-next {
        transform: rotate(180deg);
        right: 9%;
    }
    .swiper-pagination {
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -50px;
        .swiper-pagination-bullet{
            width: 25px;
            height: 25px;
            background: none;
            border: 3px solid #e3a731;
            margin: 0 15px;
            
        }
        .swiper-pagination-bullet-active {
            background: #e3a731;
        }
    }
    
    &__container {
        width: 100%;
        overflow: hidden;
    
    }

    // .abaut-slider__row

    &__row {
        display: flex;
    }

    // .abaut-slider__items

    &__items {
        display: flex;
    }

    // .abaut-slider__link

    &__link {
        display: flex;
        position: relative;
        padding: 0 0 48.6% 0;
        opacity: 0.9;
        transition: all 0.3s;
        &:hover {
            opacity: 1;
        }
        // .abaut-slider__link_m

        &_m {
            flex: 0 1 26%;
            border-radius: 10px;
            z-index: 2;
           
        }

        // .abaut-slider__link_b

        &_b {
            flex:0 1 48%;

        }
    }

    // .abaut-slider__img

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: calc( 100% + 5px);
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
     

    }

    // .abaut-slider__text

    &__text {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        color: #fefefe;
        padding:20px;
        // .abaut-slider__text_b

      
    }
    &__textb {
        position: absolute;
        top: 15px;
        left: 15px;
        max-width: 470px;
        padding: 10px;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
        color: #fefefe;
        background-color: rgba(230, 159, 27, 0.72);
    }
}

//map
.section-map {

    // .section-map__map

    &__map {
        border-radius: 10px;
        margin: 0 0 50px 0;
    }

    // .section-map__btn

    &__btn {
        text-align: center;
        margin: 0 0 100px 0;

    }
}

.goals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -50px;
    // .goals__items

    &__items {
        flex: 0 1 26%;
        text-align: center;
        margin: 0 50px 20px 50px;

    }

    // .goals__icon

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 152px;
        height: 151px;
        border: 1px solid #f5a81c;
        margin: 0 0 15px 0;
    }

    // .goals__title

    &__title {
        font-size: 20px;
        color: #216ab3;
        margin: 0 0 20px 0;
    }

    // .goals__text

    &__text {
        font-size: 16px;
        line-height: 26px;
        color: #494949;
    }
}

//galerry

.section-galery {
    padding: 100px 0;
    // .section-galery__row

    &__row {
        display: flex;
        margin: 0 0 30px 0;
        min-width: 0;
    }

    // .section-galery__column

    &__column {
        flex: 0 1 50%;
        min-width: 0;
    }
    &__btn {
        text-align: center;
    }

}

.galery-photo {

    // .galery-photo__images

    &__images {
        display: flex;
        flex-wrap: wrap;
        margin: -25px;
    }

    // .galery-photo__img

    &__img {
        
        flex: 0 1 calc(33.3333% - 55px);
        height: 205px;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 25px;
        border-radius: 10px;
        
    }
}
.galery-video {
    // .galery-video__img
    position: relative;
    .swiper-button-prev,.swiper-button-next{

        &:after {
            font-size: 27px;
        }
     }
     .swiper-button-prev {
         left: -15px;
     }
    .swiper-button-next {
        right: -15px;
    }
    &__slider {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &__video {
        display: block;
        position: relative;
        height: 100%;
    }
    &__img {
        position: absolute;

        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }

    // .galery-video__icon

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}
